## {{ ansible_managed }}
# This is the configuration file for the LDAP nameservice
# switch library's nslcd daemon. It configures the mapping
# between NSS names (see /etc/nsswitch.conf) and LDAP
# information in the directory.
# See the manual page nslcd.conf(5) for more information.

# The uri pointing to the LDAP server to use for name lookups.
# Multiple entries may be specified. The address that is used
# here should be resolvable without using LDAP (obviously).

#==================#
# NCSU nslcd.conf  #
#==================#
uid nslcd
gid ldap

# NCSU specific settings
uri DNS:{{ ipa_env }}.ncsu.edu
binddn uid=isoproxy,cn=sysaccounts,cn=etc,dc={{ ipa_env }},dc=ncsu,dc=edu
bindpw 5pin_prox
bind_timelimit 30
base cn=accounts,dc={{ ipa_env }},dc=ncsu,dc=edu
scope sub
timelimit 30
tls_cacertdir /etc/openldap/cacerts
tls_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:AES256-SHA256:!RC4:HIGH:!MD5:!aNULL:!EDH:!EXP:!SSLV2:!eNULL
ssl start_tls
tls_reqcert hard

nss_initgroups_ignoreusers  root bin daemon adm chrony mail nobody rpm sshd rpc nscd rpcuser saslauth mailnull smmsp nslcd tcpdump

filter passwd (&(objectClass=posixaccount) (|(memberof=cn=exadata,cn=groups,cn=accounts,dc={{ ipa_env }},dc=ncsu,dc=edu)))

## results in LDAP error when login -- handled in pam_ldap
#pam_authz_search (&(objectClass=posixGroup)(cn=exadata)(|(memberUid=$username)(memberUid=uid=$username,cn=users,cn=accounts,dc={{ ipa_env }},dc=ncsu,dc=edu)))
