{% macro auto_master_map(config) -%}
{{ config.path }} {{ config.file }}
{%- endmacro -%}
{% macro auto_master_key(config) -%}
{{ config.file }}
{%- endmacro -%}
{% macro auto_master_include(config) -%}
{{ config.file }}:{{ config.path }}
{%- endmacro -%}     
{% macro autofs_home_config(config) -%}
{{ config.path }} -{{ config.options|join(',') }} {{ config.server }}:{{ config.server_path }}/&
{%- endmacro -%}
{% macro autofs_config(config) -%}
{{ config.path }} -{{ config.options|join(',') }} {{ config.server }}:{{ config.server_path }}/
{%- endmacro -%}
{% macro autofs_config_prefix(config) -%}
{{ config.prefix }} {{ config.path }} -{{ config.options|join(',') }} {{ config.server }}:{{ config.server_path }}/
{%- endmacro -%} 
{% macro autofs_config_mapping(config) -%}
{{ config.path }} {{ config.file }} --timeout {{ config.timeout }}
{%- endmacro -%}                   
#{{ ansible_managed }}
{% for config in item.directories %}
{% if item.file == 'home' %}
{{ autofs_home_config(config) }}
{% elif item.file == 'master' %}
{% if config.type == 'map' %}
{{ auto_master_map(config) }}
{% elif config.type == 'include' %}
{{ auto_master_include(config) }}
{% else %}
{{ auto_master_key(config) }}
{% endif %}
{% elif config.prefix is defined %}
{{ autofs_config_prefix(config) }}
{% elif item.type is defined %}
{% if item.type == 'mapping' %}
{{ autofs_config_mapping(config) }}
{% endif %}
{% else %}
{{ autofs_config(config) }}
{% endif %}
{% endfor %}




