#{{ ansible_managed }}
{{ ora_asg_subnet }} dev {{ ora_asg_device }} table {{ ora_tblnum }}
default via {{ ora_asg_gw }} dev {{ ora_asg_device }} table {{ ora_tblnum }}
{{ ora_asg_ip }} via {{ ora_asg_gw }} dev {{ ora_asg_device }}
