#=============================#
# CMDB Discovery sudoers file
#                             
#   for ServiceNow CMDB
#=============================#

Defaults        	mailto=sudotrack@oit.ncsu.edu

Cmnd_Alias      CMDB_LEV1=/usr/sbin/dmidecode,\
			  /sbin/lsof,\
			  /sbin/fdisk -l,\
			  /sbin/dmsetup table *,\
			  /sbin/dmsetup ls,\
			  /usr/sbin/multipath -ll,\
			  /usr/sbin/sudo -l

# User aliases
User_Alias      CMDB_USER=ora_cmdb_svc

# User privileges
CMDB_USER      ALL=NOPASSWD:CMDB_LEV1
